/******************************************************************
Stylesheet: Variables
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #010208;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #626679;
$text-color:        #010208;
$meta-gray:         #B2B3B7;

$primary-lt:        #333;
$primary:           #eceee5;
$primary-md:        #7dd667;
$primary-dk:        #f01d4f;
$secondary:         #555555;
$accent:            #333;

$link-color:        $secondary;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;
